.b-page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://dmitryvorono.github.io/20_mood/img/2144.jpg");
    background-size: 100%;
}

.b-quote_top-middle{
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -400px;
}

.b-quote__text{
    font-style: italic;
    font-size: 24px;
}

.b-quote__author{
    text-align: left;
}

.b-footer{
    position: absolute;
    top: 100%;
    width: 100%;
    margin: -25px 0 0 0;
    text-align: right;
    font-size: 12px;
}
